Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  hicpp-*,
  portability-*,
  -modernize-pass-by-value
WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  hicpp-*
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: none
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
