[submodule "thirdparty/riscv-tests"]
	path = thirdparty/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "thirdparty/berkeley-softfloat-3"]
	path = thirdparty/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "thirdparty/kernel-headers"]
	path = thirdparty/kernel-headers
	url = https://github.com/sabotage-linux/kernel-headers.git
[submodule "thirdparty/riscv-arch-test"]
	path = thirdparty/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
[submodule "thirdparty/riscof"]
	path = thirdparty/riscof
	url = https://github.com/snnbyyds/riscof.git
