[submodule "thirdparty/riscv-tests"]
	path = thirdparty/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "thirdparty/berkeley-softfloat-3"]
	path = thirdparty/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
